<!-- ###JOBOFFERS_LISTVIEW### -->
<table cellspacing="0" cellpadding="5" border="0">
  <!-- ###CONTENT### -->
  <!-- ###JOBOFFERS_CAT_TABLE_ROW### -->
  <tr>
    <!-- ###CATEGORY_ROW### -->
    <!-- ###JOBOFFERS_CATEGORY_ITEM### -->
    <td align="top" colspan="2" style="font-weight:bold;">###CATEGORY_NAME###</td>
    <!-- ###JOBOFFERS_CATEGORY_ITEM### -->
    <!-- ###CATEGORY_ROW### -->
  </tr>
  <!-- ###JOBOFFERS_CAT_TABLE_ROW### -->
  <!-- ###JOBOFFERS_TABLE_ROW### -->
  <tr>
    <!-- ###CONTENT_ROW### -->
    <!-- ###JOBOFFERS_TABLE_ITEM### -->
    <td align="top" style="padding-left:20px;">###JOBOFFERS_DATE###</td>
    <td align="top">###JOBOFFERS_LINK###</td>
    <!-- ###JOBOFFERS_TABLE_ITEM### -->
    <!-- ###CONTENT_ROW### -->
  </tr>
  <!-- ###JOBOFFERS_TABLE_ROW### -->
  <!-- ###CONTENT### -->
</table>
<!-- ###JOBOFFERS_LISTVIEW### -->




<!-- ###JOBOFFERS_SINGLEVIEW### -->
<table cellspacing="0" cellpadding="5" border="0" width="100%">
  <!-- ###CONTENT### -->
  <!-- ###TITLE_ROW### -->
  <tr>
    <td valign="top" width="30%" style="###SVIEW_TDSTYLE###">Должность</td>
    <td valign="top" width="70%" style="###SVIEW_TDSTYLE###">###TITLE_VALUE###</td>
  </tr>
  <!-- ###TITLE_ROW### -->
  <!-- ###DATE_ROW### -->
  <tr>
    <td valign="top" style="###SVIEW_TDSTYLE###">Дата</td>
    <td valign="top" style="###SVIEW_TDSTYLE###">###DATE_VALUE###</td>
  </tr>
  <!-- ###DATE_ROW### -->
  <!-- ###DESCRIPTION_ROW### -->
  <tr>
    <td valign="top" style="###SVIEW_TDSTYLE###">Описание работы</td>
    <td valign="top" style="###SVIEW_TDSTYLE###">###DESCRIPTION_VALUE###</td>
  </tr>
  <!-- ###DESCRIPTION_ROW### -->
  <!-- ###TASKS_ROW### -->
  <tr>
    <td valign="top" style="###SVIEW_TDSTYLE###">Задачи</td>
    <td valign="top" style="###SVIEW_TDSTYLE###">###TASKS_VALUE###</td>
  </tr>
  <!-- ###TASKS_ROW### -->
  <!-- ###DEMANDS_ROW### -->
  <tr>
    <td valign="top" style="###SVIEW_TDSTYLE###">Требования</td>
    <td valign="top" style="###SVIEW_TDSTYLE###">###DEMANDS_VALUE###</td>
  </tr>
  <!-- ###DEMANDS_ROW### -->
  <!-- ###CONTACT_ROW### -->
  <tr>
    <td valign="top" style="###SVIEW_TDSTYLE###">Контактное лицо</td>
    <td valign="top" style="###SVIEW_TDSTYLE###">###CONTACT_VALUE###</td>
  </tr>
  <!-- ###CONTACT_ROW### -->
  <!-- ###CONTENT### -->
</table>
<!-- ###JOBOFFERS_SINGLEVIEW### -->